<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Experto</title>
    <link href="/public/css/main.css" rel="stylesheet">
    <script src="/public/js/jquery-1.10.2.min.js"></script>
    <script src="/public/js/moment.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/sockets.js"></script>
    <script src="/public/js/main.js"></script>
</head>
<body>
	<section class="main">
		<nav data-cod="1" data-name="Jorge Snachez">
			Jorge Sanchez
		</nav>
		<section class="body">
			<article class="newQuery">
				<h4>Nuevas consultas</h4>
				<div>
				</div>
			</article><article class="chating">
				<div class="head" data-usercod="5">
					Camilo Sanches
				</div>
				<div>
					<div class="msgs"></div>
					<div class="wrters">
						<textarea class="responce" placeholder="Escribir un mensaje"></textarea>
					</div>
				</div>
			</article>
		</section>
	</section>
</body>
</html>